body,html{
	background-color: #00ff27;
}
#extras{
	height: 880px;
	overflow: hidden;
	background-color: #00ff27;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	#timer{
		background-image: url(../../img/blank_blue.png);
		width: 300px;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 25px;
		&.red{
			background-image: url(../../img/blank_red.png);
		}
		#time{
			color: white;
			font-weight: bold;
			font-size: 110px;
			text-shadow: 0px 4px 4px rgba(150, 150, 150, 1);
		}
	}
	#p1score_holder{
		background-image: url(../../img/blank_blue.png);
		width: 300px;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 25px;
		#p1score{
			color: white;
			font-weight: bold;
			font-size: 110px;
			text-shadow: 0px 4px 4px rgba(150, 150, 150, 1);
		}
	}
	#p2score_holder{
		background-image: url(../../img/blank_red.png);
		width: 300px;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 25px;
		#p2score{
			color: white;
			font-weight: bold;
			font-size: 110px;
			text-shadow: 0px 4px 4px rgba(150, 150, 150, 1);
		}
	}
	#bonus_letter_holder,#correct_holder{
		width: 300px;
		height: 300px;
		background: #4899d0;
		background: -moz-linear-gradient(top, #4899d0 0%, #0f6cbf 100%);
		background: -webkit-linear-gradient(top, #4899d0 0%, #0f6cbf 100%);
		background: linear-gradient(to bottom, #4899d0 0%, #0f6cbf 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4899d0', endColorstr='#0f6cbf',GradientType=0 );
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 180px;
		color: white;
		flex-direction: column;
		text-shadow: 0px 4px 4px #969696;
		margin-right: 25px;
		p{
			font-size: 24px;
			margin: 0;
		}
	}
}